<p id="notice"><%= notice %></p>

<h1>Listas Públicas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr class='list' id="lista_<%=list.id%>">
        <td id="lista_<%=list.id%>_name" ><%= list.name %></td>
        <td id="lista_<%=list.id%>_user" ><%= list.user.name %></td>
        <td><%= link_to 'Show', list %></td>
     </tr>
    <% end %>
  </tbody>
</table>
