<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Completa?:</strong>
  <%= @list.checked %>
</p>

<p>
  <strong>Pública?:</strong>
  <%= @list.shared %>
</p>

<%= render @list.items.where(parent_id: nil), locals: {itemable: @list} %>
<%= render partial: "items/form", locals: {itemable: @list} %>

<hr />

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
