<!DOCTYPE html>
<html>
  <head>
    <title>Justodoit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    <%- end -%>  
    <%= render partial: 'shared/users/user_actions', locals: {user: current_user} %>
    <main>
      <%= yield %>
    </main>
    <div class="notifications" >
      <h5> Notificações </h5>
      <div class="notification-box" />
    </div>
  </body>
</html>
